html {
  height: 100%;
}
body{
  background-image: url("https://cdn.discordapp.com/attachments/1098130742434873384/1100140499265933342/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  overflow: auto;
}

/*navbar*/
.navbar{
  background-color: #e26e55;
  width: 100%;
}
.navbar-brand{
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  display: block;
}
#dropdown-menu-top{
  background-color: #e26e55;
  color: white;
}
#dropdownMenuButton{
  background-color: transparent;
  border: none;
}


h4{
  padding-top: 7px;
  padding-right: 10px;
  font-family: 'Kanit';
}

#hr2{
    padding-bottom: 1rem;
}

.main-map {
  width: 100%; /* Set width to 100% */
  margin: 0 auto; /* Center the map */
}

#type-dropdown {
  display: flex;
  width: 67vw;
  height: 89px;

  border-top: 5px solid #000000;

  position: relative;
  top: 50px;
}
#dropdownMenuTypeButton{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    gap: 13px;
    border: none;
    border-radius: 0;

    max-width: 210px;
    max-height: 39px;
    
    background: #D9D9D9;
    color: black;

    font-size: 24px;
}

.pagination{
    padding-top: 4rem;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    width: 100%;
}
  
  .filterDiv {
    background-color: #D9D9D9;
    /*width: 305px;*/
    width: 15.9vw;
    aspect-ratio: 305/400;
    /*height: 400px;*/
    border-radius: 10px;
  }


  .cardBoard {
    display: flex;
    align-items: start;
    flex-direction: column;

    width: 78vw;
    aspect-ratio: 1500/1100;
    /*height: 1100px;*/
    background-image: url("https://cdn.discordapp.com/attachments/1098130742434873384/1100140499941216336/questboard.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .grid {
    display: grid;
 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    /*column-gap: 183px;
    row-gap: 60px;
    padding-left: 109.5px;
    padding-top: 120px;*/
    column-gap: 9.5vw;
    row-gap: 3.1vw;
    padding-left: 5.7vw;
    padding-top: 6.2vw;
    margin: 0px;

    /*max-height: 1281px;
    max-width: 860px;*/
    width: 44.8vw;
    aspect-ratio: 1281/860;
 }

 .numPage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
 }

 .show {
    display: block;
  }
  .hide {
    display: none;
  }

  #rec20{
    display:inline-block;
    width: 9.13px;
    height: 9.13px;
    margin-top: 2.5rem;
    background: white;
    border-radius: 100px;
}

#rec21{
    display:inline-block;
    width: 22.57px;
    height: 9.13px;

    background: white;
    border-radius: 100px;
}


img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    /*-height: 400px;*/
    width: auto;
}

area {
    cursor: pointer;
}

.btnpage {
  /*width: 55px;*/
  width: 2.86vw;
  /*height: 70px;*/
  height: 3.6vw;

  border: none;
}
#prev {
  background-image: url('https://cdn.discordapp.com/attachments/933974489207832619/1100485451283959858/prev.png');
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  /*right: 40px;*/
  right: 2vw;
}
#next {
  background-image: url('https://cdn.discordapp.com/attachments/933974489207832619/1100485451455930468/next.png');
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  /*left: 40px*/;
  left: 2vw;
}
/*.btnpage:hover{
  background-color: #ddd;
}*/

progress {
  /*width: 846px;*/
  width: 44vw;
  /*height: 17px;*/
  height: 0.9vw;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 3px outset #F86161;
  border-radius: 10px;
}

progress::-webkit-progress-bar {
  background-color: #FFFFFF;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #F86161;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background-color: #F86161;
  border-radius: 5px;
}

progress::-ms-fill {
  background-color: #F86161;
  border-radius: 5px;
}

#btn-cart {
  position: relative;
  /*left: 191px;*/
  left: 9.9vw;
  background-color: transparent;
  border: none;

  /*width: 130px;
  height: 130px;*/
  width: 6.8vw;
  height: 6.8vw;

  background-image: url('https://cdn.discordapp.com/attachments/1098130742434873384/1099685806010024026/logo-trans-100.png');
  background-size: cover;
}
#btn-cart:hover {
  background-image: url('https://cdn.discordapp.com/attachments/1098130742434873384/1099685806215532685/logo-trans-200.png');
}

/*.menuContainer {
  background-color: lightgray;
  width: 389px;
  height: 61px;
  border: none;
}*/
#menu {
  font-weight: 800;
  font-size: 40px;
  /*font-size: 2.1vw;*/
  line-height: 48px;
  /*line-height: 2.5vw;*/
  text-align: center;

  color: #000000;
  text-shadow: -3px -3px 0 #FFFFFF,
               3px -3px 0 #FFFFFF,
               -3px 3px 0 #FFFFFF,
               3px 3px 0 #FFFFFF;
}

.menu-img {
  width: 15.9vw;
  /*height: 227px;*/
  aspect-ratio: 305/227;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card-content {
  position: relative;
  /*left: 30px;*/
  left: 1.6vw;
}
.input-group {
  display: flex;
  /*height: 30px;*/
  height: 1.6vw;

  position: relative;
  /*top: 35px;*/
  top: 1.8vw;
}
.add-btn {
  /*width: 30px;*/
  width: 1.6vw;
  font-weight: 700;
  background-color: #919191;
  border: none;
}
.minus {
  border-radius: 5px 0px 0px 5px !important;
}
.plus {
  border-radius: 0px 5px 5px 0px !important;
}
.quantity {
  /*width: 90px;*/
  width: 4.7vw;
  text-align: center;
  border: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.buy {
  /*width: 90px;*/
  width: 4.7vw;
  position: relative;
  /*left: 17px;*/
  left: 0.9vw;
  font-weight: 800;

  background: #7AF47F;
  border-radius: 5px !important;
  border: 2px solid #000000;
  box-shadow: inset -5px -5px 0px rgba(0, 0, 0, 0.25);
}

.card-top {
  display: flex;

  position: relative;
  /*top: 22px;*/
  top: 1.14vw;
}
#baht, #price {
  font-weight: 700;
  /*font-size: 24px;*/
  font-size: 1.33vw;

  position: relative;
  /*top: 6px;*/
  top: 0.3vw;
}
#baht {
  display: flex;
  position: relative;
  /*top: 2px;
  left: 18px;*/
  top: 0.1vw;
  left: 0.9vw;
}
#shopName {
  position: relative;
  /*top: 30px;*/
  top: 1.6vw;
  text-align: start;
}
.card-title {
  font-weight: 700;
  /*font-size: 26px;*/
  font-size: 1.35vw;
  /*line-height: 39px;*/
  line-height: 1.89vw;
  /*width: 191px;*/
  width: 9.9vw;

  color: #000000;
  text-shadow: 0px 2px 0px #FFFFFF;
  text-align: start;
}
.card-text {
  font-weight: 400;
  /*font-size: 20px;*/
  font-size: 1vw;
  /*line-height: 24px;*/
  line-height: 1.25vw;
}
.text {
  font-family: 'Kanit';
  font-style: normal;
}

/*Cart Form*/
.form-popup {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 60px;
  border: 3px solid #FFFFFF;
  z-index: 9;
}
.form-container {
  max-width: 400px;
  /*width:400px;*/
  width: 20.8vw;
  /*padding: 10px;*/
  padding: 0.5vw;
  background-color: #FFFFFF;
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  /*padding: 15px;*/
  padding: 0.8vw;
  /*margin: 5px 0 22px 0;*/
  margin: 0.26vw 0 1.14vw 0;
  border: none;
  background: #FFFFFF;
}
.checkout-btn {
  color: #000000;
  font-weight: 800;

  background: #7AF47F;
  border-radius: 5px;
  border: 2px solid #000000;
  box-shadow: inset -5px -5px 0px rgba(0, 0, 0, 0.25);
}
#close-btn {
  /*width: 35px;
  height: 35px;*/
  width: 1.8vw;
  height: 1.8vw;
  position: relative;
  top: 0px;
  /*right: 2px;*/
  right: 0.1vw;

  padding: 0px 0 0 0.5vw;
  font-size: 100%;
  text-align: start;
  font-weight: 800;

  border-radius: 5px;
  border: 2px solid #000000;
  box-shadow: inset -5px -5px 0px rgba(0, 0, 0, 0.25);
}
#close-btn:hover, .delete-cart:hover {
  background: #F86161;
}
.cart-title {
  position: relative;
  /*top: 5px;
  left: 20px;*/
  top: 0.26vw;
  left: 1vw;
}
.minus-cart {
  position: absolute;
  /*left: 10px;*/
  left: 0.5vw;
  border-radius: 5px 0px 0px 5px;
}
.cart-item-qty {
  position: absolute;
  /*width: 30px;
  left: 40px;*/
  width: 1.6vw;
  left: 2.1vw;
  border: 1px solid #000000;
  border-radius: 0px 5px 5px 0px;
}
.cart-item-name {
  position: absolute;
  /*min-width: 130px;
  left: 85px;*/
  width: 6.8vw;
  left: 4.4vw;
  text-align: start;
}
.cart-baht, .cart-item-price {
  position: relative;
  /*left: 90px;*/
  left: 4.7vw;
}
.delete-cart {
  position: relative;
  /*left: 115px;*/
  left: 6vw;
  border-radius: 5px;
}


/* Modal Pop-up*/
.form-control {
  max-width: 630px;
  width: 630px;
  height: 50px;
}

.form-login {
  margin-left: 5.5rem;
}

#sign-up-btn {
  margin-top: 1.5rem;
  padding: 10px 20px;
  width: 300px;
  height: 49px;
  background: #7AF47F;
  border: 2px solid #000000;
  box-shadow: inset -5px -5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  text-align: center;
  line-height: 29px;
}

#username, #password, #tel {
  width: 630px;
  max-height: 50px;
  background-color: #EADC9D;
  border:none;
  border-radius: 0;
}

#sign-up-text {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  
  color: #000000;
}

#sign-up-p {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-left:5.5rem;
  margin-right:5.5rem;
  padding-top: 0.5rem;
  color: #000000;
  text-align: left;
}

#sign-in-btn1 {
  padding: 10px 20px;
  margin-right: 15px;
  width: 200px;
  height: 49px;

  background: #7AF47F;
  border: 2px solid #000000;
  box-shadow: inset -5px -5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  line-height: 29px;
  color: #000000;
}

#sign-in-btn2 {
  padding: 10px 20px;
  margin-left: 15px;
  width: 200px;
  height: 49px;
  
  background: #F86161;
  border: 2px solid #000000;
  box-shadow: inset -5px -5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: 'Kanit';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  line-height: 29px;
  color: #000000;
}

#btngroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#hr1{
  width: 630px;
  border: none;
  background-color: black;
  opacity: 1;

  padding-bottom: 2.5px;
  margin-left:5.5rem;
  margin-right:5.5rem;
}
