table {
    border-collapse: collapse;
    width: 100%;
    height: 230px;
    table-layout: fixed;
    background-color: #f2f2f2;
}
td {
    border: 1px solid #ddd;
    width: 33.33%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    vertical-align: top;
}
td:hover {
    background-color: #ddd;
}
.main-map > img {
    width:100%;
    max-width:100px;
    height:auto;
}

.rwd-text {
    font-size:1vw;
}

.canteen-name{
    font-weight: 800;
    text-shadow: -3px -3px 0 #FFFFFF
    , 3px -3px 0 #FFFFFF
    , -3px 3px 0 #FFFFFF
    , 3px 3px 0 #FFFFFF;
    margin-right: 0.5em;
}

#dropdownFloorButton{
    display: flex;
    right: 0px;
    bottom: 0px;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
    gap: 13px;
    border: none;
    border-radius: 0;

    max-width: 210px;
    max-height: 39px;
    
    background: #D9D9D9;
    color: black;

    font-size: 24px;
}